body {
    margin: 25px;
    background: linear-gradient(90deg, #24ae8f,rgba(20, 30, 50, 0.8));
}

.fixed-top {
background-color:rgba(20, 30, 50, 0.8);
}

.navbar-brand {
    color: #24ae8f;
}

.nav-link {
    color: #24ae8f;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 300px;
    border-radius: 7px 7px 7px 7px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-color: black;
}

.table thead tr {
    background-color: rgba(20, 30, 50, 0.8);
    color: white;
    font-weight: bold;
    border-color: black;
}

.table th,
.table td{
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid black;
}

.table tbody tr:last-of-type {
    border-bottom: 7px solid rgba(20, 30, 50, 0.8);
}
tbody {
    letter-spacing: 0.05rem;
    /* color: #0ac7a9; */
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    border-color: black;
}

.btn {
    background-color:rgba(20, 30, 50, 0.8);
    border-radius: 5px;
    color: white;
}

.positive {
    color: #7FFFD4;
}

.negative {
    color: red;
} 